patient_dashboard.html{% extends 'website/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
<div id="bglogin-left"></div>

<div class="main">
    <section class="info-container mx-3">
        <div class="container px-0">
            <div class="p-3">
                {% if validated %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-center mt-5">
                            <input type="submit" value="Submit" class="btn btn-purple">
                        </div>
                    </form>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        You're not validated yet!
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% endblock %}