{% extends 'website/base.html' %}
{% load static %}

{% block content %}

<body>
    <div id="bglogin-left"></div>

    <div class="main">
        <section class="info-container mx-3">
            <div class="container px-0">
                <div class="p-3">
                    <div class="form-signin">

                        <div class="text-center">
                            {% if type == 'Success'%}
                                <p class="h3 alert alert-success mb-3 font-weight-normal">پرداخت با موفقیت انجام شد</p>
                                <p> کد پیگیری شما: {{ref_id}}</p>
                            {% elif type == 'Warning'%}
                                <P class="h3 alert alert-warning mb-0 font-weight-normal">این پرداخت قبلا ثبت شده است</P>
                            {% else %}
                                <p class="h3 alert alert-danger mb-0 font-weight-normal">پرداخت انجام نشد</p>
                            {% endif %}

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

{% endblock %}